In [17]:
import pandas as pd
import math
import datetime

In [18]:
data = pd.read_csv("final车场信息_上海停车_总车位_allMerged_type1_2021.03.25.csv")
data.head(20)

,ADDRESS,BUSY_STATUS,LATITUDE,LONGITUDE,P_TYPE,PARKING_ID,PARKING_NAME,BERTH,PERCENTAGE,starttime
0,元山路88弄,1,31.047224,121.378462,1,mh31011200219,上海和迅物业管理有限公司,4.0,0.05,2021-03-25 07:56:00
1,富岩路东银春路北,1,31.023031,121.374445,1,mh31011200820,富岩路临时停车场,25.0,0.05,2021-03-25 07:56:00
2,华宁路2500号,1,31.041829,121.381019,1,mh31011200698,元祥菜场停车场,2.0,0.10,2021-03-25 07:56:00
3,银春路2221弄1-6号B1层,1,31.024305,121.384994,1,mh31011200683,上海湖邦房地产有限公司（闵行星悦荟）,446.0,0.83,2021-03-25 07:56:00
4,昆阳路1508号,1,31.010784,121.368305,1,mh31011200769,新建科研工房及辅助用房,13.0,0.07,2021-03-25 07:56:00
5,昆阳路1600号,1,31.013117,121.364806,1,mh31011200093,上海铁路闵行钢铁发展有限公司,6.0,0.03,2021-03-25 07:56:00
6,华宁路1459号,1,31.025092,121.390090,1,mh31011200319,上海华银坊农贸市场停车场,64.0,0.70,2021-03-25 07:56:00
7,轻轨5号线开发区站,1,31.001078,121.370138,1,mh31011200701,轻轨5号线开发区站,NaN,NaN,2021-03-25 07:56:00
8,元江路3699号,1,31.046236,121.395357,1,mh31011200777,新建海水淡化设备总装车间项目停车场,36.0,0.32,2021-03-25 07:56:00
9,江川路彭渡村七组,1,30.994357,121.371369,1,mh31011200737,彭渡村七组临时停车场,46.0,0.13,2021-03-25 07:56:00
10,江川路1553号,1,30.994130,121.372632,1,mh31011200758,综星生活广场,4.0,0.09,2021-03-25 07:56:00
11,中春路1288号,1,31.043628,121.396041,1,mh31011200652,金地威新闵行科创园,16.0,0.06,2021-03-25 07:56:00
12,鑫都商业广场,1,31.055733,121.394351,1,mh31011200614,鑫都建行停车场,22.0,0.61,2021-03-25 07:56:00
13,春中路399号,1,31.082363,121.380410,1,mh31011200218,上海建科商务服务有限公司第二分公司,90.0,0.80,2021-03-25 07:56:00
14,繁安路229号,1,31.064566,121.393218,1,mh31011200351,繁安农贸市场,4.0,0.09,2021-03-25 07:56:00
15,北松公路629号,1,31.037234,121.397839,1,mh31011200736,上海圆外物业集团有限公司,NaN,NaN,2021-03-25 07:56:00
16,鑫都路2538号,1,31.056875,121.396086,1,mh31011200590,鑫都商业广场停车场,288.0,0.81,2021-03-25 07:56:00
17,光华路335号,1,31.070150,121.392572,1,mh31011200522,越界丝腾光华酷停车场,8.0,0.10,2021-03-25 07:56:00
18,祥云路彭渡村六组,1,30.989933,121.367468,1,mh31011200735,彭渡村六组临时停车场,44.0,0.46,2021-03-25 07:56:00
19,新源路1356弄1-7号（瓶北路与元江路之间）,1,31.048344,121.398784,1,mh31011200199,上海正珏科技电子商务产业园,234.0,0.75,2021-03-25 07:56:00

In [19]:
a = data.sort_values(["PARKING_ID", "starttime"], axis=0)
a.head(20)

,ADDRESS,BUSY_STATUS,LATITUDE,LONGITUDE,P_TYPE,PARKING_ID,PARKING_NAME,BERTH,PERCENTAGE,starttime
57502,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 08:53:00
57753,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 08:58:00
58004,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:03:00
58255,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:08:00
58506,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:13:00
58757,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:18:00
59008,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:23:00
59259,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:28:00
59510,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:33:00
59761,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:38:00
60012,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:43:00
60263,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:58:00
60514,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 10:03:00
60765,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 10:08:00
61016,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,100.0,1.00,2021-03-25 10:13:00
61267,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,99.0,0.99,2021-03-25 10:18:00
61518,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,99.0,0.99,2021-03-25 10:23:00
61769,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,98.0,0.98,2021-03-25 10:28:00
62020,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,97.0,0.97,2021-03-25 10:33:00
62271,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,97.0,0.97,2021-03-25 10:38:00

In [20]:
b = a[a["PARKING_ID"]=="cm31023000001"]
b.tail(20)

,ADDRESS,BUSY_STATUS,LATITUDE,LONGITUDE,P_TYPE,PARKING_ID,PARKING_NAME,BERTH,PERCENTAGE,starttime
86349,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,70.0,0.70,2021-03-25 21:54:00
86600,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,70.0,0.70,2021-03-25 22:08:00
86851,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,72.0,0.72,2021-03-25 22:13:00
87102,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,78.0,0.78,2021-03-25 22:18:00
87353,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,78.0,0.78,2021-03-25 22:24:00
87604,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,82.0,0.82,2021-03-25 22:28:00
87855,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,84.0,0.84,2021-03-25 22:33:00
88106,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,84.0,0.84,2021-03-25 22:38:00
88357,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,89.0,0.89,2021-03-25 22:43:00
88608,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,87.0,0.87,2021-03-25 22:48:00
88859,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,87.0,0.87,2021-03-25 22:54:00
89110,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,86.0,0.86,2021-03-25 22:59:00
89361,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,86.0,0.86,2021-03-25 23:08:00
89612,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,87.0,0.87,2021-03-25 23:14:00
89863,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,89.0,0.89,2021-03-25 23:19:00
90114,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,91.0,0.91,2021-03-25 23:28:00
90365,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,91.0,0.91,2021-03-25 23:33:00
90616,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,95.0,0.95,2021-03-25 23:43:00
90867,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 23:48:00
91118,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 23:53:00

In [21]:
b

,ADDRESS,BUSY_STATUS,LATITUDE,LONGITUDE,P_TYPE,PARKING_ID,PARKING_NAME,BERTH,PERCENTAGE,starttime
57502,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 08:53:00
57753,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 08:58:00
58004,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:03:00
58255,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:08:00
58506,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:13:00
...,...,...,...,...,...,...,...,...,...,...
90114,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,91.0,0.91,2021-03-25 23:28:00
90365,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,91.0,0.91,2021-03-25 23:33:00
90616,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,95.0,0.95,2021-03-25 23:43:00
90867,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 23:48:00
91118,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 23:53:00

In [22]:
b["starttime"] = pd.to_datetime(b["starttime"])

<ipython-input-22-db464b035189>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b["starttime"] = pd.to_datetime(b["starttime"])

In [23]:
b.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 135 entries, 57502 to 91118
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ADDRESS       135 non-null    object
 1   BUSY_STATUS   135 non-null    int64
 2   LATITUDE      135 non-null    float64
 3   LONGITUDE     135 non-null    float64
 4   P_TYPE        135 non-null    int64
 5   PARKING_ID    135 non-null    object
 6   PARKING_NAME  135 non-null    object
 7   BERTH         134 non-null    float64
 8   PERCENTAGE    134 non-null    float64
 9   starttime     135 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(2), object(3)
memory usage: 11.6+ KB

In [24]:
b["starttime"] = b["starttime"].apply(lambda x: datetime.datetime(x.year, x.month, x.day, x.hour, x.minute//5*5))
b.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 135 entries, 57502 to 91118
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ADDRESS       135 non-null    object
 1   BUSY_STATUS   135 non-null    int64
 2   LATITUDE      135 non-null    float64
 3   LONGITUDE     135 non-null    float64
 4   P_TYPE        135 non-null    int64
 5   PARKING_ID    135 non-null    object
 6   PARKING_NAME  135 non-null    object
 7   BERTH         134 non-null    float64
 8   PERCENTAGE    134 non-null    float64
 9   starttime     135 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(2), object(3)
memory usage: 11.6+ KB
<ipython-input-24-717f2051fb87>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b["starttime"] = b["starttime"].apply(lambda x: datetime.datetime(x.year, x.month, x.day, x.hour, x.minute//5*5))

In [25]:
b

,ADDRESS,BUSY_STATUS,LATITUDE,LONGITUDE,P_TYPE,PARKING_ID,PARKING_NAME,BERTH,PERCENTAGE,starttime
57502,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 08:50:00
57753,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 08:55:00
58004,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:00:00
58255,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:05:00
58506,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:10:00
...,...,...,...,...,...,...,...,...,...,...
90114,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,91.0,0.91,2021-03-25 23:25:00
90365,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,91.0,0.91,2021-03-25 23:30:00
90616,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,95.0,0.95,2021-03-25 23:40:00
90867,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 23:45:00
91118,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 23:50:00

In [26]:
index = b["starttime"].apply(lambda x: True if (x.hour > 6 and x.hour < 22) else False)
index

57502     True
57753     True
58004     True
58255     True
58506     True
         ...
90114    False
90365    False
90616    False
90867    False
91118    False
Name: starttime, Length: 135, dtype: bool

In [27]:
c = b[index]
c

,ADDRESS,BUSY_STATUS,LATITUDE,LONGITUDE,P_TYPE,PARKING_ID,PARKING_NAME,BERTH,PERCENTAGE,starttime
57502,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 08:50:00
57753,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 08:55:00
58004,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:00:00
58255,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:05:00
58506,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:10:00
...,...,...,...,...,...,...,...,...,...,...
85345,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,77.0,0.77,2021-03-25 21:20:00
85596,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,76.0,0.76,2021-03-25 21:25:00
85847,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,NaN,NaN,2021-03-25 21:30:00
86098,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,73.0,0.73,2021-03-25 21:40:00
86349,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,70.0,0.70,2021-03-25 21:50:00

In [28]:
c.reset_index(drop=True)
c

,ADDRESS,BUSY_STATUS,LATITUDE,LONGITUDE,P_TYPE,PARKING_ID,PARKING_NAME,BERTH,PERCENTAGE,starttime
57502,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 08:50:00
57753,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 08:55:00
58004,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:00:00
58255,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:05:00
58506,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,10.0,0.10,2021-03-25 09:10:00
...,...,...,...,...,...,...,...,...,...,...
85345,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,77.0,0.77,2021-03-25 21:20:00
85596,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,76.0,0.76,2021-03-25 21:25:00
85847,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,NaN,NaN,2021-03-25 21:30:00
86098,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,73.0,0.73,2021-03-25 21:40:00
86349,前卫村,1,31.717627,121.5096,1,cm31023000001,上海农闲乐休闲娱乐有限公司,70.0,0.70,2021-03-25 21:50:00

In [29]:
d = pd.DataFrame()
year = c.iloc[0]["starttime"].year
month = c.iloc[0]["starttime"].month
day = c.iloc[0]["starttime"].day
d["labeltime"] = pd.date_range(datetime.datetime(year, month, day, 7), datetime.datetime(year, month, day, 22), freq="5min")
d

              labeltime
0   2021-03-25 07:00:00
1   2021-03-25 07:05:00
2   2021-03-25 07:10:00
3   2021-03-25 07:15:00
4   2021-03-25 07:20:00
..                  ...
176 2021-03-25 21:40:00
177 2021-03-25 21:45:00
178 2021-03-25 21:50:00
179 2021-03-25 21:55:00
180 2021-03-25 22:00:00

[181 rows x 1 columns]

In [30]:
d["PERCENTAGE"] = None
#print((c["starttime"].iloc[103]))
l = len(d[d["labeltime"].isin(c["starttime"])])
d.loc[d["labeltime"].isin(c["starttime"]), ["PERCENTAGE"]] = c["PERCENTAGE"][:l].to_numpy()
d

              labeltime PERCENTAGE
0   2021-03-25 07:00:00       None
1   2021-03-25 07:05:00       None
2   2021-03-25 07:10:00       None
3   2021-03-25 07:15:00       None
4   2021-03-25 07:20:00       None
..                  ...        ...
176 2021-03-25 21:40:00       0.73
177 2021-03-25 21:45:00       None
178 2021-03-25 21:50:00        0.7
179 2021-03-25 21:55:00       None
180 2021-03-25 22:00:00       None

[181 rows x 2 columns]